@import "tailwindcss";

@keyframes slide {
  from {
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}

.animate-slide {
  animation-name: slide;
  animation-timing-function: ease-out;
}